<%- include('../partials/header') %>

<main id="editMovie">
    <h1>Edit Movie</h1>
<form id="edit-movie" action="/movies/<%= movie.id %>?_method=PUT" method="POST">
    <label><b>Title:</b></label>
    <input type="text" name="title" value="<%= movie.title %>" required><br><br>
    <label><b>Release Year:</b></label>
    <input type="number" name="year" min="1900" value="<%= movie.year %>" required><br><br>
    <label><b>Runtime <small>(in Minutes)</small>:</b></label>
    <input type="number" name="runtime" min="1" value="<%= movie.runtime %>" required><br><br>
    <label><b>MPAA Rating:</b></label>
    <select name="mpaa" value="<%= movie.mpaa %>">
        <option value="none" selected disabled hidden><%= movie.mpaa %></option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="NC-17">NC-17</option>
        <option value="Not-Rated">Not-Rated</option>
    </select><br><br>
    <label><b>Platform:</b></label>
    <select name="platform">
        <option value="none" selected disabled hidden><%= movie.platform %></option>
        <option value="Netflix">Netflix</option>
        <option value="Hulu">Hulu</option>
        <option value="HBO Max">HBO Max</option>
        <option value="Amazon Prime">Amazon Prime</option>
        <option value="Disney+">Disney+</option>
        <option value="Apple TV">Apple TV</option>
        <option value="Peacock">Peacock</option>
        <option value="Theater">Theater</option>
        <option value="Blu-Ray">Blu-Ray</option>
        <option value="DVD">DVD</option>
        <option value="Other">Other</option>
    </select><br><br>
    <label><b>Date Watched:</b></label>
    <input type="date" name="dateWatched" required> <%= movie.dateWatched.toDateString() %> <br><br> 
    <label><b>Rating (1-10):</b></label>
    <input type="number" name="rating" min="0" max="10" step=".5" value="<%= movie.rating %>" required>
    <br><br>
    <div id="addMovieBtn"><input type="submit" value="Edit Movie"></div>
</form>
    <label><b>Comments:</b></label>
    <% if (movie.comments.length) { %>
        <% movie.comments.forEach(function(c) { %>
            <form action="/movies/<%= movie._id %>?_method=PUT" method="POST"></form>
            <%= c.content %><br><br>
            </form>
        
            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Comment</button>
            </form>
      <% }) %>
    <% } %>
        <br><br>   
</main>


<%- include('../partials/footer') %>