<%- include('../partials/header') %>

<main id="loginMain">
    <% if (movies.length) { %> 
        <% let today = new Date();

        let timeDay = today.getHours();
        let greeting = "";
        
        if (timeDay >= 0 && timeDay< 12) {
          greeting = "Good Morning ";
        } else if (timeDay >= 12 && timeDay < 18) {
        greeting = "Good Afternoon ";
        } else {
        greeting ="Good Evening ";
        }%> 

        <% if (user) { %>
            <h2> <%= greeting %> <%= user.name %></h2> 
            <h4>Here Are The Movies You've Rated</h4>
            <table id="list">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Platform</th>
                    <th>Date Watched</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <% movies.forEach(function(m) { %>
                    <tr>
                        <td><a href="/movies/<%= m._id %>"><%= m.title %></a></td>
                        <td><%= m.year %></td>
                        <td><%= m.platform %></td>
                        <td><%= m.dateWatched.toDateString() %></td>
                        <td><%= m.rating %></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
        <% } else { %>
            <a href="/auth/google"><button>Login with Google</button></a>
        <% } %>       
    <% } else { %>
        <h2>Hello <%= user.name %></h2>
        <h4>Add Some Movies!</h4>
     
    <% } %>
</main>

<%- include('../partials/footer') %> 