<%- include('../partials/header') %>

<main id="movieShow">
<h2><%= movie.title %></h2>
    <br>
    <label><b>Year:</b></label> <%= movie.year %> 
    <br>
    <label><b>Runtime:</b></label> <%= movie.runtime %> Minutes
    <br>
    <label><b>MPAA Rating:</b></label> <%= movie.mpaa %>
    <br>
    <label><b>Platform:</b></label> <%= movie.platform %>
     <br>
     <label><b>Date Watched:</b></label> <%= movie.dateWatched %>
     <br>
     <label><b>Rating:</b></label> <%= movie.rating %>
     <br>
     <label><b>Comments:</b></label> <%= movie.comments.content %>
     <br>
     <form action="/movies/<%= movie.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type='submit'>Delete</button>
    </form> 
</main>



<%- include('../partials/footer') %>